//variables

$xsmall: 420px;
$small: 480px;
$medium: 600px;
$medium_large: 769px;
$large: 1024px;



//global styles
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, p {
	margin: 0;
	font-family: 'ACaslonPro-Regular';
}

@font-face {
  font-family: 'ACaslonPro-Regular';
  src: url('./assets/fonts/ACaslonPro-Regular.otf');
}

@font-face {
  font-family: 'Springville-Regular3';
  src: url('./assets/fonts/Springville-Regular3.otf');
}

//header styles
header {
	height: 50px;
	position: fixed;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #000;
	z-index: 1;
	@media (min-width: $medium_large) {
		height: 122px;
	}
	.grid_layout {
		padding: 0 10px;
		@media (min-width: $xsmall) {
	  	padding: 0 30px;
	  }
	  @media (min-width: $small) {
	  	padding: 0 40px;
	  }
	  @media (min-width: $medium_large) {
	  	padding: 0 80px;
	  }
	}
	.logo {
		background: url('assets/images/logo@2x.png') no-repeat;
		display: inline-block;
		height: 26px;
    width: 150px;
    background-size: 150px;
    margin-top: 13px;
    cursor: pointer;
		@media (min-width: $medium_large) {
			height: 34px;
	    width: 196px;
	    background-size: 196px;
	    margin-top: 44px;
		}
	}
	.nav_container {
		margin-top: 16.5px;
		float: right;
		@media (min-width: $medium_large) {
			margin-top: 51.5px;
		}
		li {
			display: inline-block;
	    font-size: 10px;
	    text-transform: uppercase;
	    font-family: 'Arial';
	    color: #767676;
	    margin-right: 8px;
	    cursor: pointer;
	    @media (min-width: $xsmall) {
	    	margin-right: 10px;
	    	font-size: 11px;
	    }
	    @media (min-width: $small) {
	    	margin-right: 18px;
	    }
	    &.login_btn {
	    	margin-right: 10px;
	    	@media (min-width: $xsmall) {
		    	margin-right: 14px;
		    }
		    @media (min-width: $small) {
		    	margin-right: 18px;
		    }
	    }
	    &:last-child {
	    	margin-right: 0;
	    }
	    &.menu_btn {
		    height: 13px;
		    width: 20px;
		    position: relative;
		    top: 2px;
		    div {
					width: 100%;
			    height: 1px;
			    background: #000;
			    transition: width .5s;
			    opacity: 1;
			    position: absolute;
			    transform-origin: 50% 50%;
			    transition: top .3s cubic-bezier(.66,0,1,.45),transform .2s ease .3s,opacity .2s;
			    &:nth-child(1) {
			    	top: 0;
			    }
			    &:nth-child(2) {
			    	top: 50%;
			    }
			    &:nth-child(3) {
			    	top: 100%;
			    }
				}
				&.active {
					div:nth-child(1) {
						transform: rotate(-45deg);
						top: 50%;
					}
					div:nth-child(2) {
						opacity: 0;
					}
					div:nth-child(3) {
						transform: rotate(45deg);
						top: 50%;
					}
				}
	    }
		}
	}
}

.sticky_nav_spacer {
	height: 50px;
	display: block;
	@media (min-width: $medium_large) {
		height: 122px;
	}
}

//carousel styles

#root {
	.carousel.carousel-slider {
		max-width: 1440px;
	  margin-left: auto;
	  margin-right: auto;
	  .slide {
	  	@media (min-width: $medium_large) {
		  	.carousel_container, img {
		  		height: 100%;
		  	}
	  	}
	  	.floating_text_area {
		  	position: absolute;
	    	color: white;
	    	text-align: left;
	    	max-width: 570px;
	    	bottom: 15px;
    		left: 10px;
	    	padding-right: .5em;
	    	@media (min-width: $xsmall) {
	    		bottom: 20px;
	    		left: 15px;
	    	}
	    	@media (min-width: $small) {
	    		top: 50%;
	    		left: 5%;
	    		bottom: 0;
	    	}
	    	@media (min-width: $medium_large) {
	    		top: 38%;
	    		left: 10%;
	    	}
	    	.title_container {
	    		font-size: 1.1em;
	    		line-height: 1;
	    		margin-bottom: .3em;
	    		h2 {
	    			font-weight: 400;
	    			font-family: 'Springville-Regular3';
	    		}
	    		@media (min-width: $xsmall) {
		    		font-size: 1.3em;
		    	}
		    	@media (min-width: $small) {
		    		font-size: 1.6em;
		    	}
		    	@media (min-width: $medium_large) {
		    		font-size: 1.8em;
		    	}
		    	@media (min-width: $large) {
		    		font-size: 2em;
		    	}
	    	}
	    	.description {
	    		max-width: 450px;
    			font-size: .7em;
    			@media (min-width: $xsmall) {
		    		font-size: .8em;
		    	}
    			@media (min-width: $small) {
		    		font-size: .9em;
		    	}
		    	@media (min-width: $medium_large) {
		    		font-size: 1em;
		    	}
		    	@media (min-width: $large) {
		    		font-size: 1.2em;
		    	}
	    	}
	    	.date {
	    		font-size: .9em;
			    margin-bottom: .3em;
			    @media (min-width: $xsmall) {
		    		font-size: 1em;
		    	}
			    @media (min-width: $small) {
		    		font-size: 1.1em;
		    	}
		    	@media (min-width: $medium_large) {
		    		font-size: 1.3em;
		    	}
		    	@media (min-width: $large) {
		    		font-size: 1.5em;
		    	}
	    	}
		  }
		  &.selected img {
	  		margin-left: 50%;
    		transform: translateX(-50%);
    		width: auto;
	  	}
	  }
	  @media (max-width: $medium_large) {
	  	img {
		  	vertical-align: top;
		    border: 0;
		    display: block;
		    max-height: 100%;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    width: auto;
		  }
			div.carousel_container {
		  	display: block;
		    width: 100%;
		    height: auto;
		    position: relative;
		    overflow: hidden;
		    padding: 75% 0 0 0;
		  }
	  }
	  .control-dots {
	  	position: relative;
	  	margin: 10px 0 0 0;
	  	.dot {
	  		box-shadow: none;
	  		transition: none;
	  		background: #e1e1e1;
	  		opacity: .5;
	  		width: 10px;
	  		height: 10px;
	  		&.selected, &:hover {
	  			opacity: 1;
	  		}
	  	}
	  }
	}
}


//masony grid styles
.masonry_grid {
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  -moz-column-gap: 40px;
 	-webkit-column-gap: 40px;
  column-gap: 40px;
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  padding: 40px;
  padding-bottom: 80px;
  @media (min-width: $xsmall) {
  	padding: 65px;
  }
  @media (min-width: $small) {
  	column-count: 2;
  	-moz-column-count: 2;
  	-webkit-column-count: 2;
  	padding: 40px;
  }
  @media (min-width: $medium) {
  	padding-bottom: 120px;
  }
  @media (min-width: $medium_large) {
  	column-count: 3;
  	-moz-column-count: 3;
  	-webkit-column-count: 3;
  	padding: 80px;
  }
  @media (min-width: $large) {
  	column-gap: 60px;
  }
  li.masonry_item {
  	width: 100%;
    //break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    -webkit-column-break-before: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-bottom: 41px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 40px;
    max-width: 348px;
    display: inline-block;
    @media (min-width: $xsmall) {
    	margin-bottom: 65px;
    }
    @media (min-width: $small) {
    	margin-bottom: 40px;
    }
    @media (min-width: $medium_large) {
    	margin-bottom: 49px;
    }
    .image_container {
    	margin-bottom: 20px;
    	@media (min-width: $small) {
	    	margin-bottom: 30px;
	    }
    	@media (min-width: $large) {
	    	margin-bottom: 40px;
	    }
    	.thumb {
	    	width: 100%;
		    display: block;
        margin-left: auto;
		    margin-right: auto;
		    max-width: 348px;
	    }
    }
    .text_container {
    	.date {
    		font-family: 'Arial';
		    font-size: 11px;
		    color: #767676;
		    margin-bottom: 12px;
		    text-transform: uppercase;
		    @media (min-width: $small) {
		    	margin-bottom: 18px;
		    }
		    @media (min-width: $large) {
		    	margin-bottom: 24px;
		    }
    	}
    	.content_title {
    		font-family: 'Springville-Regular3';
		    font-size: 1.8em;
		    line-height: 1;
		    margin-bottom: 15px;
		    @media (min-width: $small) {
		    	font-size: 2em;
		    }
		    @media (min-width: $large) {
		    	font-size: 3em;
		    }
		    &:hover {
		    	text-decoration: underline;
		    	cursor: pointer;
		    }
    	}
    	.presenter_container {
    		font-size: 14px;
    		.presenter:hover {
    			text-decoration: underline;
    			cursor: pointer;
    		}
    	}
    }
  }
}

//footer styles
footer {
  width: 100%;
  clear: both;
  font-family: 'Arial';
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #131313;
  padding-bottom: 25px;
  li {
  	display: inline-block;
  	margin-bottom: 5px;
  	&.social_media_link {
  		text-decoration: underline;
    	margin-left: 5px;
    	cursor: pointer;
  	}
  }
  span {
  	margin-left: 5px;
  }
}